
body {
    background-image: url("background-images/pexels-pix3.jpg");
    background-size: cover;

}

header {
  text-align: center;
}

.jumbotron {
   opacity: 0.90;
}

.container {
  font-size: 1.5em;
  /*font-weight: bold;*/
  background-color: rgba(255, 255, 255, .5); /*functions as an overlay under text to make it more legible*/
}

#carousel-btlc {
  width: 80%; /*resize images to banner size*/
  margin: auto;
  border-style: inset;
  border-width: thick;
}

#map {
  height: 180px;
}

h3.campground-map {
  text-align: center;
}

img.campground-map {
  display: block;
    margin: auto;
    width: 50%;
}

footer {
  text-align: center;
}
ul.social-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.social-links li {
  display: inline;
  padding: 2em; /*adds space between icons*/
}
